/.idea/*.iws
/.idea/workspace.xml
/.idea/tasks.xml
/out/run

/statements-loader/out/
/statements-loader/**/__pycache__/

/statements-processor/.gradle
/statements-processor/build/
!/statements-processor/gradle/wrapper/gradle-wrapper.jar
/statements-processor/out/run/temporaryFtpFiles
/statements-processor/out/runTests

